// Главный файл стилей (Entry Point)

@import './variables.scss';
@import './reset';

body {
  font-family: $font-main;
  background-color: $color-white;
  color: $color-text;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; 
}

.container {
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 0 $container-padding;
}