
$font-main: 'Poppins', sans-serif;
$font-second: 'Inter', sans-serif;


$color-white: #ffffff;
$color-black: #000000;
$color-text: #000000;
$color-text-muted: #7d8184;
$color-bg-light: #f5f5f5;
$color-bg-cream: #fefaf1;
$color-accent: #db4444; 
$color-accent-hover: #e07575;
$color-border: rgba(0, 0, 0, 0.3);


$container-max-width: 1170px;
$container-padding: 16px;