@import '@/app/styles/variables';

.sidebar {
  padding-top: 40px;
  border-right: 1px solid #e5e5e5;
  padding-right: 16px;
  min-width: 217px;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;
    color: $color-black;
    cursor: pointer;
    transition: color 0.2s ease;

    &:hover {
      color: $color-accent;
    }
  }

  &__arrow {
    display: flex;
    align-items: center;
  }
}